[data-page="contractor_master_edit"][data-itemid="edit_header"] {
  font-weight: bold;
  font-size: 20px;
  font-family: "Roboto";
}
[data-page="contractor_master_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


