[data-cellid="grid_c3"][data-page="informe_intersup_contratista_edit"][data-cellid="grid_c3"][data-page="informe_intersup_contratista_edit"][data-cellid="grid_c3"][data-page="informe_intersup_contratista_edit"] {
  background-color: #f7f7f7;
}
[data-cellid="grid_c"][data-page="informe_intersup_contratista_edit"][data-cellid="grid_c"][data-page="informe_intersup_contratista_edit"][data-cellid="grid_c"][data-page="informe_intersup_contratista_edit"] {
  background-color: #f7f7f7;
}
[data-cellid="grid_c1"][data-page="informe_intersup_contratista_edit"][data-cellid="grid_c1"][data-page="informe_intersup_contratista_edit"][data-cellid="grid_c1"][data-page="informe_intersup_contratista_edit"] {
  background-color: #f7f7f7;
}
[data-cellid="grid_c2"][data-page="informe_intersup_contratista_edit"][data-cellid="grid_c2"][data-page="informe_intersup_contratista_edit"][data-cellid="grid_c2"][data-page="informe_intersup_contratista_edit"] {
  background-color: #f7f7f7;
}
[data-cellid="grid_c8"][data-page="informe_intersup_contratista_edit"][data-cellid="grid_c8"][data-page="informe_intersup_contratista_edit"][data-cellid="grid_c8"][data-page="informe_intersup_contratista_edit"] {
  background-color: #f7f7f7;
}
[data-cellid="grid_c9"][data-page="informe_intersup_contratista_edit"][data-cellid="grid_c9"][data-page="informe_intersup_contratista_edit"][data-cellid="grid_c9"][data-page="informe_intersup_contratista_edit"] {
  background-color: #f7f7f7;
}
[data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"] > * > label,
[data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"] > * > * > input,
[data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"] > * > * > textarea,
[data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"] > * > * > select,
[data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"] > * > * > .r-readonly-control,
[data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"][data-page="informe_intersup_contratista_edit"][data-itemid="integrated_edit_field2"] > * > * > * > select {
  font-weight: bold;
  font-size: 15px;
  font-family: "Roboto";
}
[data-page="informe_intersup_contratista_edit"][data-itemid="page_image_ash8f23hr"] {
  width: 400px;
}


